/* For screens between 420px and 900px */
@media (max-width: 900px) and (min-width: 380px) {
    .boder_padding{
  padding-left:5px !important;
  padding-top:20px;
}
.wrapped{
  font-size:60px;
  display: flex;
  justify-content: center;
  color:white;
   font-weight: 800;
   padding-top:40px;
}
.x{
  font-size:55px;
  display: flex;
  justify-content: center;

  font-weight: 600;
  padding-top:20px;
}
.empower{
  color:white;
  font-size:25px;
  font-weight: 600;
  display: flex;
  text-align: center;
  padding-top:22px;

}
.opacity{
  color:white;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  opacity: .7;
}

}
